<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.css"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.slick/1.8.1/slick.min.js"></script>


    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      .filter label,
      .filter .form-control {
        font-size: 0.875rem; 
      }
    
      .filter .col-1 {
        width: 10%; 
      }


      

      .mover-card {
        animation: horizontalScroll 5s infinite linear;
      }
      
      @keyframes horizontalScroll {
        0% {
          transform: translateX(0%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
      
      
    </style>

    
    <!-- Custom styles for this template -->
    
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <%= link_to "DASHBOARD", root_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3" %>
  </header>

    <div class="container-fluid">
      <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
          <div class="position-sticky pt-3">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
              <span>Stock Prices</span>
              <a class="link-secondary" href="#" aria-label="Add a new report">
                <span data-feather="plus-circle"></span>
              </a>
            </h6>
            <ul class="nav flex-column">
              <li class="nav-item">
                <%= link_to "Intraday", root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "Daily", daily_path, class: "nav-link" %>
                  <span data-feather="shopping-cart"></span>
              </li>
              <li class="nav-item active">
                <%= link_to "Weekly", weekly_path, class: "nav-link" %>
                  <span data-feather="users"></span>
              </li>
              <li class="nav-item">
                <%= link_to "Monthly", monthly_path, class: "nav-link" %>
                  <span data-feather="bar-chart-2"></span>
              </li>
            </ul>
          </div>
        </nav>


        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <div class="container">
            <div class="row">
              <div class="col">
                <h3>Stock Market - Daily</h3>
                <p class="subtitle">Returns data for closing price, high price, low price, open price, closing price, change, and percent change daily</p>
              </div>
            </div>
          </div>
        </div>
        <br>
        
        <!-- Display Cards Moving-->
        <div class="container" style="overflow-x: hidden">
            <div class="row" style="flex-wrap: nowrap;">
              <% @stock_prices.each do |stock_price| %>
                <div class="col-3 mover-card">
                  <div class="row">
                    <div class="col-5">
                      <div class="movers-text">
                        <% image_filename = logo_filename_for_symbol(stock_price.symbol) %>
                        <% if image_filename.present? %>
                          <%= image_tag(image_filename, class: "company-logo", size: "20x20", style: "margin-right: 5px;") %>
                        <% end %>
                        <span><%= stock_price.symbol %></span>
                      </div>
                    </div>
                    <div class="col-5 movers-value-usd" style="color: green; text-align: left;">
                        <% if stock_price.percent_change.nil? %>
                          <span>No Data</span>
                        <% elsif stock_price.percent_change < 0 %>
                          <span style="color: red; font-weight: bold; font-size: 15"><%= stock_price.percent_change.round(3) %>%</span>
                        <% else %>
                          <span style="color: green; font-weight: bold; font-size: 15">+<%= stock_price.percent_change.round(3) %>%</span>
                        <% end %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
        </div> 
        <br><br>
        


                        <!-- Display Chart -->
                        <div class="container" style="padding: 0">
                          <div class="row">
                            <div class="col-12">
                              <div class="card" style="padding: 10px; height: 100%">
                                <br>
                                <div class="row">
                                  <div class="col" style="margin-left: 15px; text-align: left; align-items: center;">
                                    <h5>Daily Prices</h5>
                                    <p class="subtitle">Closing price of each company in Daily</p>
                                  </div>
                                  <div class="col">
                                    <%= form_tag({ action: "daily" }, method: "get", class: "filter-form", id: "filter-form") do %>
                                      <div style="display: flex; align-items: center;">
                                        <%= select_tag(:company_daily, options_for_select(@companies, params[:company_daily]), include_blank: 'All', class: "form-control form-control-sm", style: "width: 80px; margin-left: auto;", onchange: "this.form.submit();") %>
                                      </div>
                                    <% end %>
                                  </div>
                                </div>
                                <br>

                                <!-- Add a wrapper div for the chart -->
                                <div id="column_chart" style="text-align: center; height: 100%">
                                  <%= column_chart @data, library: { chart: { zoomType: 'x' } } %>
                                </div>
                              </div>
                            </div>
                          </div>
                          <br>
                        </div>



                    
              
                        <!-- Display Table -->
                        <br>
                        <div class="col">
                          <div class="card" style="padding: 10px; height: 100%">
                            <div id="price_table" style="text-align: center; height: 100%">
                                <table class="table table-sm table-striped ml-6">
                                      <thead>
                                          <tr>
                                              <th style="text-align: left">COMPANIES</th>
                                              <th style="text-align: right">HIGH</th>
                                              <th style="text-align: right">LOW</th>
                                              <th style="text-align: right">OPEN</th>
                                              <th style="text-align: right">CLOSE</th>
                                              <th style="text-align: right">CHG</th>
                                              <th style="text-align: right">%CHG</th>
                                          </tr>
                                      </thead>
              
                                      <tbody>
                                          <% @stock_prices.each do |stock_price| %>
                                              <tr>
                                                  <td style="text-align: left;">
                                                    <% image_filename = logo_filename_for_symbol(stock_price.symbol) %>
                                                      <% if image_filename.present? %>
                                                        <%= image_tag(image_filename, class: "company-logo", size: "20x20", style: "margin-right: 5px;") %>
                                                      <% end %><%= stock_price.company_name %>
                                                  </td>
                                                  <td style="text-align: right"><%= stock_price.high.round(3) %></td>
                                                  <td style="text-align: right"><%= stock_price.low.round(3) %></td>
                                                  <td style="text-align: right"><%= stock_price.open.round(3) %></td>
                                                  <td style="text-align: right"><%= stock_price.close.round(3) %></td>
                                                  <td style="text-align: right"><%= stock_price.change.round(3) %></td>
                                                  <td style="text-align: right"><% if stock_price.percent_change.nil? %>
                                                                                  <span>No Data</span>
                                                                                <% elsif stock_price.percent_change < 0 %>
                                                                                  <span style="color: red; font-weight: bold; font-size: 15"><%= stock_price.percent_change.round(3) %>%</span>
                                                                                <% else %>
                                                                                  <span style="color: green; font-weight: bold; font-size: 15">+<%= stock_price.percent_change.round(3) %>%</span>
                                                                                <% end %>
                                                  </td>
                                              </tr>
                                          <% end %>
                                      </tbody>
              
                                  </table>
                            </div>
                          </div>
                        </div>
                </div>
            </div>      
            <br>

        </main>
</body>
</html>
