<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Dashboard</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/dashboard/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
  </head>
  <body>
    
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <%= link_to "DASHBOARD", home_dashboard_path, class: "navbar-brand col-md-3 col-lg-2 me-0 px-3" %>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="position-sticky pt-3">
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
          <span>Stock Prices</span>
          <a class="link-secondary" href="#" aria-label="Add a new report">
            <span data-feather="plus-circle"></span>
          </a>
        </h6>
        <ul class="nav flex-column">
          <li class="nav-item">
            <%= link_to "Intraday", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Daily", daily_path, class: "nav-link" %>
              <span data-feather="shopping-cart"></span>
          </li>
          <li class="nav-item active">
             <%= link_to "Weekly", weekly_path, class: "nav-link" %>
              <span data-feather="users"></span>
          </li>
          <li class="nav-item">
            <%= link_to "Monthly", root_path, class: "nav-link" %>
              <span data-feather="bar-chart-2"></span>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Stock Prices</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <span data-feather="calendar"></span>
            This week
          </button>
        </div>
      </div>
    
      <!--Graphs-->
      <div class="container-fluid">
        <div class="container" style="padding: 0">
            <div class="row">
                <div class="col-9">
                    <!-- Filter Dropdown for Company -->
                    <div class="card" style="padding: 10px; margin-bottom: 10px; height: 100%">
                        <div class="filter" style="text-align: center;">
                            <div class="row">
                                <div class="col-3" style="align-items: center;">
                                    <label for="symbol-filter" style="display: flex; align-items: center;">Filter by Company:</label>
                                    <%= form_tag({ action: "weekly" }, method: "get", class: "filter-form") do %>
                                    <%= select_tag(:symbol, options_for_select(StockPricesWeekly.pluck(:symbol).uniq, params[:symbol]), include_blank: true, class: "form-control form-control-sm", id: "symbol-filter") %>
                                </div>
                                <div class="col-3" style="display: flex; align-items: flex-end;">
                                    <%= submit_tag("Apply Filter", class: "btn btn-primary btn-sm") %>
                                    <% end %>
                                </div>
                            </div>
                        </div>

                        <div class="graph" style="text-align: center;">
                             <% chart_options = { xtitle: "Year", ytitle: "Average Price", title: "Average Price per Year", 
                                                  height: '400px', width: '750px', colors: ["AFEEEE"], library: { chartArea: { left: 70, top: 70, right: 0, bottom: 50 }} 
                                                } %>
                            <% if params[:symbol].present? %>
                                <% selected_symbol_data = StockPricesWeekly.where(symbol: params[:symbol]).pluck(:year_month, :average_price) %>
                                <%= area_chart selected_symbol_data, **chart_options %>
                            <% else %>
                                <%= area_chart StockPricesWeekly.pluck(:year_month, :average_price), **chart_options %>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <!-- Filter Dropdown for Region -->
                    <div class="filter">
                        <div class="row">
                            <div class="col-6" style="width: 130px">
                                <label for="symbol-filter" style="display: flex; align-items: center;">Region:</label>
                                <%= form_tag({ action: "weekly" }, method: "get", class: "filter-form") do %>
                                <%= select_tag(:filter, options_for_select([['All', 'all'], ['Local', 'local'], ['International', 'international']], params[:filter]), class: "form-control form-control-sm") %>
                            </div>
                            <div class="col-6" style="display: flex; align-items: flex-end;">
                                <%= submit_tag("Apply Filter", class: "btn btn-primary btn-sm") %>
                                <% end %>
                            </div>
                        </div>
                        <br>
                    </div>

                    <!-- Display Cards -->
                    <div class="scrollable-content" style="overflow-y: auto; max-height: 400px;">
                        <% @weeklies.each do |weekly| %>
                            <div class="card" style="padding: 12px; margin-bottom: 10px; margin-right: 10px">
                                <div class="row">
                                    <div class="col-2" style="display: flex; align-items: center;">
                                        <% image_filename = logo_filename_for_symbol(weekly.symbol) %>
                                        <% if image_filename.present? %>
                                            <%= image_tag(image_filename, class: "company-logo", size: "30x30") %>
                                        <% end %>
                                    </div>
                                    <div class="col-6">
                                        <%= weekly.symbol %> <br>
                                        <% if params[:filter].in?(['local', 'all']) || params[:filter].blank? %>
                                            <% if weekly.symbol.in?(['AAA', 'SM', 'TEL', 'GLO', 'UBP']) %>
                                            <span style="font-size: 12px; font-weight: bold;"><%= weekly.recent_close.round(2) %></span> <span style="font-size: 12px;">PHP</span>
                                            <% else %>
                                            <span style="font-size: 12px; font-weight: bold;"><%= weekly.recent_close.round(2) %></span> <span style="font-size: 12px;">USD</span>
                                            <% end %>
                                        <% elsif params[:filter].in?(['international']) %>
                                            <span style="font-size: 12px; font-weight: bold;"><%= weekly.recent_close.round(2) %></span> <span style="font-size: 12px;">USD</span>
                                        <% end %>
                                    </div>
                                    <div class="col-4" style="display: flex; align-items: center;">
                                        <% if weekly.percent_change.nil? %>
                                            <span>No Data</span>
                                        <% elsif weekly.percent_change < 0 %>
                                        <span style="color: red; font-weight: bold; font-size: 15"><%= weekly.percent_change.round(2) %>%</span>
                                            <% else %>
                                        <span style="color: green; font-weight: bold; font-size: 15">+<%= weekly.percent_change.round(2) %>%</span>
                                            <% end %>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>

            </div>
        </div>      
        <br>

    </main>
</body>
</html>
